body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f5;
}

/* . is for the class, overflow hidden removes the scroll bars*/
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

/* Each header class changes a portion of theheader in the html file */
header{
	background-color: #32424A;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491b 3px solid;
}

/* The Header tags */
header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

/* The list items in the header */
header ul{
	margin: 0;
	padding: 0;
}

header li{
	float:left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #mainTitle{
	float: left;
}

header #mainTitle h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

/* Creates/Modifies two classes that do the same thing.  sperated by , */
header .highlight, header .current a{
	color:#e8491d;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}